<div class="card shadow-sm app-card rounded-0 h-100" (click)="onSelect()"> 
  <div class="card-body">
    <label>{{label}}</label>
    <h4 class="card-text txt-gray-75 text-truncate" [title]="name">{{name}}</h4>
  </div>
</div>
  