<form [formGroup]="fGroup">
    <pz-select-box [pzFrm]="fGroup" [pzFrmControl]="formControl" [pzControlLabel]="'USER_FORM.FIELDS.ROLES.LABEL'" [items]="roles" [isMultiSelect]="true" [searchLabel]="'USER_FORM.FIELDS.ROLES.SEARCH_ROLE'"></pz-select-box>
</form>