<div class="row users-container mb-3 align-items-end gutters-small">
    <div class="menu-backdrop" *ngIf="menuState === 'out'" [ngClass]="{'backdrop-in': menuState === 'out'}" (click)="toggleMenu()"></div>
    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 col-xs-12">
        <h3 class="txt-gray-7 font-weight-normal d-inline-block mr-3">{{'USERS.TITLE' | translate}}</h3>
        <a [pzFeatureToggle]="true" permission="CreateUser" class="btn btn-pzprimary btn-md pull-right" [routerLink]="['new', 'save']">{{'COMMON.ACTIONS.CREATE_USER' | translate}}</a>
    </div>
    <div class="col">
        <form [formGroup]="searchForm">
            <div class="input-group mb-2 mr-sm-2 search-form-group">
                <div class="input-group-prepend">
                    <div class="input-group-text pl-0 pl-sm-0 pl-xs-0 pl-md-2 rounded-0 border-0">
                        <i class="pz-icon icon-search" aria-hidden="true"></i>
                    </div>
                </div>
                <input class="form-control mr-sm-2 pr-3" type="search" (keyup)="search($event.target.value, false)" placeholder="{{'USERS.PLACEHOLDER.SEARCH' | translate}}"
                    aria-label="Search" formControlName="searchUserText">
                <div class="input-group-append">
                    <div class="input-group-text rounded-0 border-0 p-0">
                        <i class="pz-icon icon-clear-field icon-size-12" *ngIf="searchForm.value.searchUserText" (click)="search(null, true)" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-auto">
        <ul class="nav justify-content-between">
            <li class="nav-item text-center">
                <a class="nav-link py-0 px-0 px-md-1 px-lg-2 px-xl-2" (click)="toggleMenu()">
                    <i class="pz-icon icon-filter icon-size-18"></i>
                    <span class="d-block txt-gray-7 icon-text">{{"USERS.LABEL.FILTERS" | translate}}</span>
                </a>
            </li>
            <li class="nav-item text-center d-none d-sm-inline-block">
                <a class="nav-link py-0 px-md-1 px-lg-2 px-xl-2" (click)="toggleView()">
                    <i class="pz-icon icon-size-18" [ngClass]="{'icon-list-view': isGridView, 'icon-grid-view': !isGridView}" aria-hidden="true"></i>
                    <span class="d-block txt-gray-7 icon-text" *ngIf="isGridView">{{"USERS.LABEL.LIST" | translate}}</span>
                    <span class="d-block txt-gray-7 icon-text" *ngIf="!isGridView">{{"USERS.LABEL.GRID" | translate}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="content-scrollable mb-4" [ngClass]="{'has-pagination': totalElements > pageSize}">
    <div class="row no-gutters" *ngIf="users && isGridView">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let userEl of users; let i = index">
            <pz-user-item [user]="userEl" [index]="i" (clickedUser)="onClickUser($event)"></pz-user-item>
        </div>
    </div>
    <table class="table spacing-table" *ngIf="users && users.length && !isGridView">
        <thead class="txt-gray-7 font-weight-semi-bold">
            <tr>
                <th class="font-weight-semi-bold th-user">
                    <div class="col-full-name">{{'USERS.LABEL.USER_NAME' | translate}} <i class="pz-icon icon-sort icon-size-18" [ngClass]="{'icon-active': isSorted}" (click)="sortByName()"></i></div>
                </th>
                <th class="font-weight-semi-bold">{{'USERS.LABEL.EMAIL' | translate}}</th>
                <th class="font-weight-semi-bold">{{'USERS.LABEL.USER_TYPE' | translate}}</th>
                <th class="font-weight-semi-bold">{{'USERS.LABEL.STATUS' | translate}}</th>
            </tr>
        </thead>
        <tbody class="txt-gray-75">
            <tr *ngFor="let user of users; let i = index" (click)="onClickUser(user)" [ngClass]="{'disabled-row': user.status === 'INACTIVE' || user.status === 'REJECT'}">
                <td class="font-weight-semi-bold">
                    <div class="td-user-child">
                        <i class="pz-icon icon-lock icon-size-24" *ngIf="user.locked"></i>
                        {{user.firstName +' '+(user.lastName ? user.lastName : "")}}
                    </div>
                </td>
                <td>{{user.userId}}</td>
                <td>{{'COMMON.LABEL.'+user.userType | translate}}
                    <pz-cutomer-list-popover [customers]="user.authorizations" *ngIf="user.userType === 'CUSTOMER' && user.authorizations && user.authorizations.length > 0"></pz-cutomer-list-popover>
                </td>
                <td [ngClass]="{'text-pzprimary': user.status === 'APPROVAL_PENDING'}">{{'COMMON.STATUS.'+user.status | translate}}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center bg-white h-50 no-data-found rounded shadow-sm" *ngIf="totalElements === 0">
        <p>No results found. Please try another search.</p>
    </div>
</div>
<div class="d-flex flex-row-reverse pagination-wrapper" *ngIf="totalElements > pageSize">
    <div>
        <pagination class="pagination-sm" [boundaryLinks]="true" [maxSize]="maxSize" [totalItems]="totalElements" [itemsPerPage]="pageSize" [(ngModel)]="currentPage"
            (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>
</div>

<pz-side-menu [@slideInOut]="menuState" (closeMenu)="closeMenu($event)" class="bg-sidemenu"></pz-side-menu>