@import '../../styles/variables';
@import '../../styles/mixins';
.users-container {
    .search-form-group {
        .input-group-text {
            background: transparent;
        }
        .form-control {
            border-right: 0;
            border-left: 0;
            border-top: 0;
            background: transparent;
            outline: none;
            border-radius: 0;
            padding-left: 0;
            box-shadow: none;
            &::-webkit-input-placeholder {
                font-size: $fs-13;
                color: $gray-500;
            }
        }
        .input-group-append {
            position: absolute;
            right: 7px;
            top: 14px;
            z-index: 10;
        }
    }
    .icon-text {
        font-size: $fs-12;
        position: relative;
        top: -4px;
        font-weight: 400;
        width: 55px;
    }
    .menu-backdrop {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #000;
        z-index: 3000;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transition: opacity 0.6s; /* For Safari 3.1 to 6.0 */
        transition: opacity 0.6s;
        &.backdrop-in {
            opacity: 0.6;
        }
    }
}
.th-user {
    padding-left: 30px !important;
    .col-full-name {
        display: inline-block;
        position: relative;
        padding-right: 20px;
        i {
            position: absolute;
            right: 0;
            top: 6px;
        }
    }
}
.td-user-child {
    position: relative;
    padding-left: 20px;
    .icon-lock {
        position: absolute;
        left: 0;
        top: 4px;
    }
}
.content-scrollable {
    @include heightMinus(70px);
    @include overflow-y(auto);
    @include overflow-x(hidden);
    padding-right: 20px;
    &.has-pagination {
        @include heightMinus(120px);
    }
    @include breakpoint() {
        &.has-pagination {
            @include heightMinus(150px);
        }
    }  
}
@include breakpoint() {
    .pagination-wrapper {
        position: absolute;
        position: absolute;
        right: 0;
    }    
}