<div class="row user-detail-container mb-2 pr-4" *ngIf="user">
    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 col-xs-12">
        <h3 class="txt-gray-7 font-weight-normal d-inline-block mr-3">{{(isRolesEditable ? 'USER_FORM.EDIT_TITLE' : 'USER_DETAIL.TITLE') | translate}}</h3>
        <button *ngIf="!isRolesEditable && (hasEditPermission || enableRolesEdit)" class="btn btn-pzprimary btn-md pull-right" type="button" (click)="editUser()">{{'COMMON.ACTIONS.EDIT_USER' | translate}}</button>
    </div>
    <div class="col text-right align-self-center" >
        <label class="mb-0">Status: <span class="label-data">{{'COMMON.STATUS.'+user.status | translate}}</span></label>
    </div>
    <div [pzFeatureToggle]="true" permission="ManageUserLock" class="col-auto align-self-center text-right" *ngIf="user.status === 'ACTIVE'" >
        <label class="mr-2 mb-0 label-data w-fixed">{{isAccountLocked ? 'Locked' : 'Unlocked'}}</label>
        <label class="pz-switch mb-0">
            <input type="checkbox" [value]="!isAccountLocked" [checked]="!isAccountLocked" (change)="onStatusChange()">
            <span class="pz-slider round"></span>
        </label>
    </div>
</div>
<div class="content-scrollable" *ngIf="user && (renderForm || user.userType === 'SHOPUSER')" [ngClass]="{'contains-footer': user.status === 'APPROVAL_PENDING' && hasApprovePermission}">
    <form [formGroup]="usrFrm" (ngSubmit)="updateUserRoles()" novalidate>
        <div class="card mb-3">
            <div class="card-body">
                <div class="form-group mb-2">
                    <label class="mb-0">{{'USER_FORM.FIELDS.USER_TYP.LABEL' | translate}}</label>
                    <p class="mb-0 txt-readonly-form-data">{{'COMMON.LABEL.'+user.userType | translate}}</p>
                </div>
                <div class="form-group mb-2">
                    <label class="mb-0">{{'USER_FORM.FIELDS.EMAIL.LABEL' | translate}}</label>
                    <p class="mb-0 txt-readonly-form-data">{{user.userId}}
                        <pz-reset-password [user]="user" class="ml-4" [pzFeatureToggle]="true" permission="ResetPassword"></pz-reset-password>
                    </p>
                </div>
                <div class="form-group mb-0">
                    <label class="mb-0">{{'USER_FORM.FIELDS.FULL_NAME.LABEL' | translate}}</label>
                    <p class="mb-0 txt-readonly-form-data text-uppercase">{{user.firstName+" "+(user.lastName ? user.lastName : "")}}</p>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h6 class="txt-gray-8 font-weight-semi-bold">{{'USER_FORM.SECTIONS.CONT_INFO.TITLE' | translate}}</h6>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-end">
                            <i class="fa" [ngClass]="{'fa-angle-down': collapseCardData.card1.isCollapsed, 'fa-angle-up': !collapseCardData.card1.isCollapsed}"
                                (click)="collapseCardData.card1.isCollapsed = !collapseCardData.card1.isCollapsed" [attr.aria-expanded]="!collapseCardData.card1.isCollapsed"
                                aria-controls="collapseEvent1"></i>
                        </div>
                    </div>
                </div>
                <div id="collapseEvent1" [collapse]="collapseCardData.card1.isCollapsed">
                    <div class="form-group mb-2">
                        <label class="mb-0">{{'COMMON.LABEL.EMAIL' | translate}}</label>
                        <p class="mb-0 txt-readonly-form-data">{{user.emailId}}</p>
                    </div>
                    <div class="form-group mb-2">
                        <label class="mb-0">{{'USER_FORM.FIELDS.COMP_NAME.LABEL' | translate}}</label>
                        <p class="mb-0 txt-readonly-form-data">{{user.companyName}}</p>
                    </div>
                    <div class="form-group mb-2">
                        <label class="mb-0">{{'USER_FORM.FIELDS.FULL_ADDRESS.LABEL' | translate}}</label>
                        <p class="mb-0 txt-readonly-form-data" *ngIf="user.address1">{{user.address1}}</p>
                        <p class="mb-0 txt-readonly-form-data" *ngIf="user.address2">{{user.address2}}</p>
                        <p class="mb-0 txt-readonly-form-data" *ngIf="user.city || user.state">{{user.city+" "+user.state}}</p>
                        <p class="mb-0 txt-readonly-form-data" *ngIf="user.country || user.zip">{{user.country+" "+user.zip}}</p>
                    </div>
                    <div class="form-row">
                        <div class="form-group mb-2 col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="mb-0">{{'USER_FORM.FIELDS.MOB.LABEL' | translate}}</label>
                            <p class="mb-0 txt-readonly-form-data">{{user.mobile}}</p>
                        </div>
                        <div class="form-group mb-2 col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="mb-0">{{'USER_FORM.FIELDS.PH.LABEL' | translate}}</label>
                            <p class="mb-0 txt-readonly-form-data">{{user.phoneno}}</p>
                        </div>
                        <div class="form-group mb-2 col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="mb-0">{{'USER_FORM.FIELDS.FAX.LABEL' | translate}}</label>
                            <p class="mb-0 txt-readonly-form-data">{{user.fax}}</p>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="mb-0">{{'USER_FORM.FIELDS.MOC.LABEL' | translate}}</label>
                        <p class="mb-0 txt-readonly-form-data">{{contactType.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <pz-roles-card *ngIf="'TENANT' === user.userType && user.status !== 'INACTIVE'" [cardTitleLable]="'USER_FORM.SECTIONS.APP_ROLES.TITLE'" [fGroup]="usrFrm" [addRoleGroup]="false" (addNewRoleGroup)="addNewAppRole($event)"
            [roleGroups]="rolesGroup.appRoles" [formSubmitted]="formSubmitted" [roleGroupType]="'APP_ROLE'" [groupItems]="apps"
            (removeRoleGroup)="actionCallbackForApps($event)"></pz-roles-card>
        <pz-roles-card *ngIf="'CUSTOMER' === user.userType && user.status !== 'INACTIVE'" [cardTitleLable]="'USER_FORM.SECTIONS.CUST_ACC_ROLES.TITLE'" [fGroup]="usrFrm" [formArray]="customerAccRoles" [roleGroups]="rolesGroup.customerAccRoles" [formSubmitted]="formSubmitted" [roleGroupType]="'CUSTOMER_ACC_ROLE'" [addRoleGroup]="isRolesEditable" (addNewRoleGroup)="addNewCustomerRole($event)"
            [groupItems]="custAccounts" (removeRoleGroup)="actionCallbackForCustomer($event)"></pz-roles-card>
        <div class="card mb-3" *ngIf="user.userType === 'CUSTOMER'">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h6 class="txt-gray-8 font-weight-semi-bold">{{'USER_FORM.SECTIONS.NOTES.TITLE' | translate}}</h6>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-end">
                            <i class="fa" [ngClass]="{'fa-angle-down': collapseCardData.card4.isCollapsed, 'fa-angle-up': !collapseCardData.card4.isCollapsed}"
                                (click)="toggleNotes()" [attr.aria-expanded]="!collapseCardData.card4.isCollapsed"
                                aria-controls="collapseEvent4"></i>
                        </div>
                    </div>
                </div>
                <div id="collapseEvent4" [collapse]="collapseCardData.card4.isCollapsed">
                    <div class="form-row notes-body" *ngIf="statusLogs && statusLogs.length; else noNotes">
                        <div class="form-group mb-2 col">
                            <div class="mb-2" *ngFor="let log of statusLogs">
                                <div class="" *ngIf="log.type !== 'USER_AUTHORIZATION'">
                                    <span class="text-pzprimary" >
                                        {{'USER_FORM.SECTIONS.NOTES.PROFILE.'+log.status | translate}}: </span><span class="txt-readonly-form-data">{{log.comments}}</span>
                                </div>
                                <div class="" *ngIf="log.type === 'USER_AUTHORIZATION'">
                                    <span class="text-pzprimary">
                                        {{'USER_FORM.SECTIONS.NOTES.CUSTOMER.'+log.status | translate: log }}: </span><span class="txt-readonly-form-data">{{log.comments}}</span>
                                </div>
                                <div class="txt-readonly-form-data text-muted">
                                    <span *ngIf="log.status != 'APPROVAL_PENDING'">{{log.modifiedBy}}, </span>{{log.modifiedOn | date: 'M.d.yyyy | HH:mm:ss'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #noNotes>
                        <div>
                            {{'USER_FORM.SECTIONS.NOTES.NOT_AVAIL' | translate}}
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h6 class="txt-gray-8 font-weight-semi-bold">{{'USER_FORM.SECTIONS.LOG_DETAIL.TITLE' | translate}}</h6>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-end">
                            <i class="fa" [ngClass]="{'fa-angle-down': collapseCardData.card5.isCollapsed, 'fa-angle-up': !collapseCardData.card5.isCollapsed}"
                                (click)="collapseCardData.card5.isCollapsed = !collapseCardData.card5.isCollapsed" [attr.aria-expanded]="!collapseCardData.card5.isCollapsed"
                                aria-controls="collapseEvent5"></i>
                        </div>
                    </div>
                </div>
                <div id="collapseEvent5" [collapse]="collapseCardData.card5.isCollapsed">
                    <div class="form-row">
                        <div class="form-group mb-2 col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="mb-1">{{'USER_FORM.FIELDS.CREATED.LABEL' | translate}}</label>
                            <p class="mb-0 txt-readonly-form-data">{{user.createdBy}}</p>
                            <p class="mb-1 txt-readonly-form-data text-muted">{{user.createdOn | date: 'M.d.yyyy | HH:mm:ss'}}</p>
                        </div>
                        <div class="form-group mb-2 col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="mb-1">{{'USER_FORM.FIELDS.UPDATED.LABEL' | translate}}</label>
                            <p class="mb-0 txt-readonly-form-data">{{user.modifiedBy}}</p>
                            <p class="mb-0 txt-readonly-form-data text-muted">{{user.modifiedOn | date: 'M.d.yyyy | HH:mm:ss'}}</p>
                        </div>
                        <div class="form-group mb-2 col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="mb-1">{{'USER_FORM.FIELDS.L_LOGIN.LABEL' | translate}}</label>
                            <p class="mb-0 txt-readonly-form-data">{{user.userId}}</p>
                            <p class="mb-0 txt-readonly-form-data text-muted">{{user.lastLoginTime | date: 'M.d.yyyy | HH:mm:ss'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pz-navbar-fixed-bottom *ngIf="isRolesEditable || (user.status === 'APPROVAL_PENDING' && approveUserPermission === 'ApproveUser')" [buttons]="actionButtons" (buttonClicked)="buttonClickedHandler($event)"></pz-navbar-fixed-bottom>
    </form>
</div>