@import '../../../styles/variables';
@import '../../../styles/mixins';
.user-detail-container {
    .pz-switch {
        top: 3px;
    }
    .label-data {
        font-size: $fs-14;
        font-weight: $font-wt-600;
        color: $gray-550;
    }
    .w-fixed {
        width: 61px;
    }
}
.notes-body {
    font-size: $fs-14;
}
.auth-row {
    &:last-child {
        border: 0 !important;
        margin-bottom: 0 !important;
        .auth-col {
            margin-bottom: 0 !important;
        }
    }
    .auth-status {
        font-size: $fs-12;
        font-weight: $font-wt-600;
        &.approved{
            color: $green;
        }
        &.pending-aproval {
            color: $pzprimary;
        }
        &.rejected {
            color: $pzprimary;
        }
        span {
            position: relative;
            top: -2px;
        }
    }
}
.mw-90 {
    max-width: 90%;
}
.content-scrollable {
    @include heightMinus(70px);
    @include overflow-y(auto);
    @include overflow-x(hidden);
    padding-right: 20px;
    &.contains-footer {
        @include heightMinus(100px);
    }
}