<div class="nav flex-column nav-pills side-nav bg-sidenav" role="tablist" aria-orientation="vertical">
    <a class="nav-link rounded-0" data-toggle="pill" role="tab" routerLinkActive="pz-active" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/home">
        <i class="pz-icon icon-home icon-state-hover" title="Home"></i>
        <span class="pz-nav-link ml-2" *ngIf="!isCollapse">Home</span>
    </a>
    <a [pzFeatureToggle]="true" permission="ViewUser" class="nav-link rounded-0" routerLinkActive="pz-active" data-toggle="pill" role="tab" routerLink="/users" queryParamsHandling="preserve">
        <i class="pz-icon icon-users icon-state-hover" title="Manage Users"></i>
        <span class="ml-2 pz-nav-link" *ngIf="!isCollapse">Manage Users</span>
    </a>
    <a [pzFeatureToggle]="true" permission="UserReport_UserReport" class="nav-link rounded-0" routerLinkActive="pz-active" data-toggle="pill" role="tab" routerLink="/reports">
        <i class="pz-icon icon-report icon-state-hover" title="Reports"></i>
        <span class="ml-2 pz-nav-link" *ngIf="!isCollapse">Reports</span>
    </a>
    <i class="pz-icon toggle-icon icon-size-12" [ngClass]="{'icon-left-arrow': !isCollapse, 'icon-right-arrow': isCollapse}" aria-hidden="true"
        (click)="toggleSideNav()"></i>
</div>
