@import '../../../styles/variables';
@import '../../../styles/mixins';
.toggle-icon {
    position: absolute;
    right: -12px;
    z-index: 100;
    top: 250px;
}
.side-nav {
    .toggle-icon {
        @include breakpoint() {
            display: none !important;
        }
    }
    .nav-link {
        color: $gray-500;
        border-left: 4px solid $sidenav-bg;
        .pz-nav-link {
            @include breakpoint() {
                display: none !important;
            }
        }
        &.pz-active {
            border-left: 4px solid $pzprimary;
            color: $pzprimary;
            background: $gray-200;
            &:hover {
                color: $pzprimary; 
            }
        }
        &:hover {
            color: $gray-600;
        }
    }
}

