<span class="d-inline" [popover]="popTemplate" [popoverContext]="context" #pop="bs-popover" (click)="togglePopover($event, pop)" [outsideClick]="true" container="body" placement="bottom" containerClass="cust-list-popover">
  - {{customers[0].data}} <span *ngIf="customers.length > 1">, ...</span>
</span>
<ng-template #popTemplate>
  <label class="mb-1">{{context.title}}</label>
  <div class="body-content">
      <span class="d-inline" *ngFor="let customer of context.data; let i = index">
        {{customer.data}}<span *ngIf="i !== context.data.length -1">,</span>
      </span>
  </div>
</ng-template>
