@import '../../../styles/variables';
.pz-dropdown {
    position: relative;
    .custom-select {
        display: none;
    }
    .dropdown-menu {
        width: 100%;
        min-width: auto;
        padding: 10px 20px;
        max-height: 200px;
        overflow-x: hidden;
        &.multi-select {
            li {
                .active {
                    background-color: transparent !important;
                }
            }
        }
        li {
            .dropdown-item {
                color: $gray-700;
                white-space: inherit;
                padding: 5px;
                &:focus {
                    outline: none;
                }    
                .fa {
                    color: $pzprimary;
                    margin-right: 10px;
                    width: 15px;
                    height: 15px;
                    font-size: 16px;
                }
            }
            .input-group {
                width: 100%;
                display: table;
                .input-group-prepend {
                    width: 0;
                    position: relative;
                    .fa-search {
                        position: absolute;
                        right: -18px;
                        top: 30px;
                        color: $pzprimary;
                    }
                }
                .floating-label-form-group {
                    width: 100%;
                    .form-control {
                        padding-left: 30px;
                        padding-bottom: 5px;
                    }
                    label {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
    .cust-form-control {
        &[disabled=true] {
            label {
                background-color: $gray-200;
                width: 100%;
            }
            .invalid-feedback {
                display: none !important;
            }
            .is-invalid {
                border-color: $input-border-color !important;
            }
        }
        .invalid-feedback {
            bottom: -23px;
        }
        .placeholder {
            display: block;
            width: 100%;
            font-size: 1rem;
            line-height: 1.5;
            color: #43425D;
            background-color: #fff;
            background-clip: padding-box;
            -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            border: 0;
            border-bottom: 1px solid $input-border-color;
            font-family: inherit;
            border-radius: 0;
            padding: 0;
            padding-bottom: 0.375rem;
            outline: none;
            cursor: pointer;
            min-width: 39px;
            height: 28px;
            .fa {
                float: right;
                font-size: 20px;
                position: relative;
                top: 2px;
            }
            &.is-invalid {
                border-color: $pzprimary;
                ~.invalid-feedback {
                    display: block;
                }
            }
        }
        label {
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transform-origin: left bottom;
            transform: translate(0, 1.65rem) scale(1);
        }
    }
    &.open,
    &.selected {
        .cust-form-control {
            label {
                transform: translate(0, 0) scale(1);
                cursor: pointer;
            }
        }
    }
}