<div class="pz-dropdown {{contaimerClass}}" dropdown #dropdown="bs-dropdown" [ngClass]="{'selected': !displayBadges && selectedValue && pzFrmControl.valid}"
    [autoClose]="false" [formGroup]="pzFrm" [isDisabled]="isDisabled || !editable" [dropup]="isDropup">
    <div id="dropdown-toggle" dropdownToggle class="floating-label-form-group cust-form-control" aria-haspopup="true" aria-expanded="false">
        <span id="{{selectBoxUid}}" class="placeholder" [ngClass]="{'is-invalid': (formSubmitted || pzFrmControl.touched) && pzFrmControl.invalid}">
            {{displayBadges ? "" : selectedValue}}
            <i class="fa" [ngClass]="{'fa-angle-down' : !dropdown.isOpen,'fa-angle-up': dropdown.isOpen}"></i>
        </span>
        <label class="txt-gray-5" for="{{selectBoxUid}}">{{pzControlLabel | translate}}
            <span class="text-muted">{{isRequired ? "*" : "&nbsp;"}}</span>
        </label>
        <select class="custom-select" autocomplete="autoComplete" [formControl]="pzFrmControl" multiple *ngIf="isMultiSelect">
            <option *ngFor="let item of items" [value]="item[selectCode]">{{item[displayKey]}}</option>
        </select>
        <select class="custom-select" autocomplete="autoComplete" [formControl]="pzFrmControl" *ngIf="!isMultiSelect">
            <option *ngFor="let item of items" [value]="item[selectCode]">{{item[displayKey]}}</option>
        </select>
        <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
        </div>
    </div>
    <ul *dropdownMenu class="dropdown-menu" [ngClass]="{'multi-select': isMultiSelect}" role="menu" aria-labelledby="dropdown-toggle">
        <li role="menuitem" *ngIf="isMultiSelect">
            <div class="floating input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-btn fa fa-search">
                    </span>
                </div>
                <div class="floating-label-form-group mb-0 input-group-control">
                    <input type="text" id="filter_{{selectBoxUid}}" class="form-control" placeholder="{{searchLabel | translate}}" autocomplete="search-item" tabindex="0"
                        [formControl]="filter">
                    <label class="txt-gray-5" for="filter_{{selectBoxUid}}">{{searchLabel | translate}}
                        <span class="text-muted">&nbsp;</span>
                    </label>
                </div>
            </div>
            <!-- <div class="input-group">
                    
                <input type="text" [formControl]="filter" class="form-control">
            </div> -->
        </li>
        <li role="menuitem" *ngIf="serverSideSearch">
            <div class="floating input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-btn fa fa-search">
                    </span>
                </div>
                <div class="floating-label-form-group mb-0 input-group-control">
                    <input type="text" id="search_{{selectBoxUid}}" class="form-control" placeholder="{{searchLabel | translate}}" autocomplete="search-item" tabindex="0"
                        [formControl]="searchControl">
                    <label class="txt-gray-5" for="search_{{selectBoxUid}}">{{searchLabel | translate}}
                        <span class="text-muted">&nbsp;</span>
                    </label>
                </div>
            </div>
        </li>
        <li role="menuitem" *ngFor="let item of items | search : displayKey : filter.value">
            <a *ngIf="!serverSideSearch || !item.disabled" class="dropdown-item" tabindex="0" (click)="selectItem(item)" [ngClass]="{'active': (item.selected || item.hideElement)}">
                <i class="fa fa-square-o" *ngIf="isMultiSelect" [ngClass]="{'fa-check-square': item.selected}"></i>{{item[displayKey]}}</a>
        </li>
    </ul>
</div>
<div class="badges" *ngIf="displayBadges && selectedValue && pzFrmControl.valid">
    <!-- <div>
        <label class="txt-gray-5" *ngIf="!editable">{{pzControlLabel | translate}}
        </label>
    </div> -->
    <span *ngFor="let item of selectedItems">
        <span class="badge badge-pill pz-badge-pill badge-light" [ngClass]="{'badge-close': editable}">{{item[displayKey]}}
            <i *ngIf="editable" (click)="deSelectItem(item)" class="pz-icon icon-remove icon-size-16"></i>
        </span>
    </span>
</div>