@import '../../../styles/variables';
@import '../../../styles/mixins';
.alert-wrapper {
    top: 69px;
    position: fixed;
    left: 50%;
    z-index: 5000;
    .pilm-alert {
        background-color: #000000;
        z-index: 3000;
        color: white;
        font-weight: $font-wt-600;
        text-align: center;
        padding: 10px 20px; // padding: 14px 50px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        @include modal-shadow(1px 3px 10px 0px rgba(0, 0, 0, 0.5));
        width: auto;
        max-width: 380px;
        min-height: 50px;
        display: table;
        left: -50%;
        position: relative;
        span {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }
        .fa {
            width: 26px;
            display: table-cell;
            text-align: left;
            font-size: 16px;
            vertical-align: middle;
        }
        .fa-check-circle {
            color: #45c500;
        }
        .fa-exclamation-triangle {
            color: #ff9d02;
        }
    }
}