 <div class="card shadow-sm border-0 user-card" (click)="showUserDetails()" [ngClass]="{'disabled-card': user.status === 'INACTIVE' || user.status === 'REJECT'}"> 
  <div class="card-body">
    <h6 class="card-title txt-gray-75 font-weight-semi-bold text-uppercase">{{user.firstName+' '+(user.lastName ? user.lastName : "")}}</h6>
    <p class="card-text txt-gray-7 font-weight-normal">{{user.userId}}</p>
    <p class="card-text txt-gray-7 font-weight-normal">User Type: <span *ngIf="user.userType">{{'COMMON.LABEL.'+user.userType | translate}}</span>
      <pz-cutomer-list-popover [customers]="user.authorizations" *ngIf="user.userType === 'CUSTOMER' && user.authorizations && user.authorizations.length > 0"></pz-cutomer-list-popover>
    </p>
  </div>
  <div class="card-footer">
    <div class="row no-gutters">
      <div class="col-10">
          <p><label class="mb-0">Status: </label><span class="card-text text-truncate status-val" [ngClass]="{'txt-gray-6': user.status === 'ACTIVE', 'text-pzprimary': user.status === 'APPROVAL_PENDING'}"> {{'COMMON.STATUS.'+user.status | translate}}</span></p>
      </div>
      <div class="col-2">
        <i class="pz-icon icon-lock icon-size-24 icon-position" *ngIf="user.locked"></i>
      </div>
    </div>
  </div>
</div>
