@import '../../../styles/_variables';
.user-card {
    &.card {
        margin: 0 5px 5px 0;
        webkit-box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1) !important;
        &:hover {
            webkit-box-shadow: 0 0.225rem 0.375rem rgba(0, 0, 0, 0.3) !important;
            box-shadow: 0 0.225rem 0.375rem rgba(0, 0, 0, 0.1) !important;
        }
        p {
            margin-bottom: 0;
        }
        .card-title {
            margin-bottom: 0.3rem;
        }
        .card-footer {
            background: transparent;
            line-height: $fs-12;
            font-size: $fs-12;
        }
        .card-text {
            font-size: $fs-14;
        }
        .status-val {
        }
        .icon-position {
            position: absolute;
            right: -3px;
            top: -1px;
        }
    }
    &:hover {
        cursor: pointer;
    }
    &.disabled-card {
        opacity: $pz-opacity;
        &:hover {
            cursor: pointer;
        }
    }
}
