@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    ::-webkit-scrollbar {
       width: $size;
       height: $size;
       -webkit-border-radius: 3.5px;
       -moz-border-radius: 3.5px;
       -ms-border-radius: 3.5px;
       border-radius: 3.5px;
   }
    ::-webkit-scrollbar-thumb {
       background: $foreground-color;
   }
    ::-webkit-scrollbar-track {
       background: $background-color;
   } // For Internet Explorer
   body {
       scrollbar-face-color: $foreground-color;
       scrollbar-track-color: $background-color;
   }
}

@mixin apply-min-dim($minWidth, $minHeight, $maxWidth) {
    min-width: $minWidth;
    min-height: $minHeight;
    max-width: $maxWidth;
}

@mixin widthPlus($delta, $max: 100%) {
    /* Firefox */
    width: -moz-calc(#{$max} + #{$delta});
    /* WebKit */
    width: -webkit-calc(#{$max} + #{$delta});
    /* Opera */
    width: -o-calc(#{$max} + #{$delta});
    /* Standard */
    width: calc(#{$max} + #{$delta});
}

@mixin maxWidthMinus($delta) {
    /* Firefox */
    max-width: -moz-calc(100% - #{$delta});
    /* WebKit */
    max-width: -webkit-calc(100% - #{$delta});
    /* Opera */
    max-width: -o-calc(100% - #{$delta});
    /* Standard */
    max-width: calc(100% - #{$delta});
}

@mixin widthMinus($delta, $max: 100%) {
    /* Firefox */
    width: -moz-calc(#{$max} - #{$delta});
    /* WebKit */
    width: -webkit-calc(#{$max} - #{$delta});
    /* Opera */
    width: -o-calc(#{$max} - #{$delta});
    /* Standard */
    width: calc(#{$max} - #{$delta});
}

@mixin heightPlus($delta) {
    /* Firefox */
    height: -moz-calc(100% + #{$delta});
    /* WebKit */
    height: -webkit-calc(100% + #{$delta});
    /* Opera */
    height: -o-calc(100% + #{$delta});
    /* Standard */
    height: calc(100% + #{$delta});
}

@mixin heightMinus($delta, $height: 100%) {
    /* Firefox */
    height: -moz-calc(#{$height} - #{$delta});
    /* WebKit */
    height: -webkit-calc(#{$height} - #{$delta});
    /* Opera */
    height: -o-calc(#{$height} - #{$delta});
    /* Standard */
    height: calc(#{$height} - #{$delta});
}

@mixin overflow-x($overflow) {
    overflow-x: $overflow;
}

@mixin overflow-y($overflow) {
    overflow-y: $overflow;
}

@mixin max-height($height) {
    @media (max-height: #{$height - 1px}) {
        @content;
    }
}

@mixin min-height($height) {
    @media (min-height: #{$height - 1px}) {
        @content;
    }
}

@mixin breakpoint($min: 0, $max: 767px) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}
@mixin modal-radius($radius: $modal-border-radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin modal-shadow($value: $modal-box-shadow) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
    @if $value=="unset" {
        box-shadow: none;
    }
}

@mixin modal-bg($bgColor: $modal-bg) {
    background-color: $bgColor;
}

@mixin modal-padding($modalPadding: 20px) {
    padding: $modalPadding;
}

@mixin modal-border($border) {
    border: 1px solid $border;
}