// Your variable overrides
$body-bg: #F0F0F7;
$body-color: #000000;

$white: #fff !default;
$gray-50: #f6f6fa !default;
$gray-100: #F0F0F7 !default; // body background
$gray-200: #EBEBF2 !default; // for hr or vr line
$gray-300: #D7DAE2 !default; // for pagination borders and custom scrollbar
$gray-400: #C7C7C7 !default; // for form control border bottom
$gray-500: #acacac !default; // placeholder and labels
$gray-550: #777777 !default; // icon color or pagination next and prvious icon
$gray-600: #6E6E6E !default; // card footer data and border some where
$gray-700: #43425D !default; // for card body data and h1 and icon label
$gray-750: #4D4F5C !default; // for card header title
$gray-800: #343a40 !default;
$gray-850: #323232 !default; // for form-control text
$gray-900: #212529 !default;
$black:    #000 !default;
$input-border-color: #9F9F9F !default;

$grays: (
  "550": $gray-550,
  "750": $gray-750
);

$blue: #0073CC !default;
$red: #E37679 !default;
$green: #00AD00 !default;
$pzprimary: #F4792A !default;

$primary: $blue !default;
$success: $green !default;
$danger: $red !default;
$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "success": $success,
  "pzprimary": #F4792A
);
@function color($key: "pzprimary") {
    @return map-get($colors, $key);
}
@function theme-color($key: "pzprimary") {
    @return map-get($theme-colors, $key);
}
@function gray($key: "550") {
    @return map-get($grays, $key);
}

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100 !default;
$body-color: $gray-700 !default;
$header-bg: $white;
$sidenav-bg: $gray-50;
$hr-color: $gray-200;
$border-gray-color: $gray-500;

$pzcomponent-active-bg: theme-color("pzprimary") !default;
$component-active-bg: theme-color("pzprimary") !default;

$link-hover-decoration: none !default;
$custom-control-indicator-checked-bg: $pzcomponent-active-bg !default;
$custom-control-indicator-checked-disabled-bg: rgba(theme-color("pzprimary"), .5) !default;
$custom-control-indicator-active-bg: lighten($pzcomponent-active-bg, 35%) !default;
$custom-checkbox-indicator-indeterminate-bg: $pzcomponent-active-bg !default;
$pagination-active-bg: $pzcomponent-active-bg !default;

$dropdown-link-active-bg: $gray-200 !default;

// font weight
$font-wt-600: 600;

// opacity
$pz-opacity: 0.6;

// font family
$family-sans-light: Open Sans, Light;
$font-sans-sm-bold: Open Sans, Semibold;
$font-sans-reg: Open Sans, Regular;

// Available font sizes
$fs-10: .625rem;
$fs-13: .8125rem;
$fs-12: .75rem;
$fs-14: .875rem;
$fs-16: 1rem;
$fs-24: 1.5rem;

// border radius
$br-3: 0.1875rem;
