@import 'variables';
@import "mixins";
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/mixins/_buttons.scss';
@include scrollbars(7px, #cbcbcb);
/* You can add global styles to this file, and also import other style files */

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding-bottom: 3.125rem; 
}

.full-ht {
    height: 100%;
}

.full-vht {
    height: 100vh;
}

.scrollable-x {
    @include overflow-x(auto);
    @include overflow-y(hidden);
    @include breakpoint(0, 1024px) {
        @include overflow-x(scroll);
    }
}

.scrollable-y {
    @include overflow-x(hidden);
    @include overflow-y(auto);
    @include breakpoint(0, 1024px) {
        @include overflow-y(scroll);
    }
}

.bg-body {
    background: $body-bg;
}

.bg-header {
    background: $header-bg;
}

.bg-sidenav {
    background: $sidenav-bg;
}

.bg-sidemenu {
    background: $sidenav-bg;
}
.pz-badge-pill {
    padding: 0.3125rem 0.625rem;
    margin-right: 0.625rem;
    margin-bottom: 0.3125rem;
    color: $gray-600;
    font-weight: $font-wt-600;
    background: $gray-200;
    line-height: 1.2;
    max-width: 95%;
    &.badge-close {
        position: relative;
        padding-right: 1.7rem;
    }
    .icon-remove {
        color: $pzprimary;
        position: absolute;
        top: 0.25rem;
        right: 6px;
    }
}
.txt-gray-05 {
    color: $gray-50;
}
.txt-gray-1 {
    color: $gray-100;
}

.txt-gray-2 {
    color: $gray-200;
}

.txt-gray-3 {
    color: $gray-300;
}

.txt-gray-4 {
    color: $gray-400;
}

.txt-gray-5 {
    color: $gray-500;
}

.txt-gray-6 {
    color: $gray-600;
}

.txt-gray-7 {
    color: $gray-700;
}

.txt-gray-75 {
    color: $gray-750;
}

.txt-gray-8 {
    color: $gray-800;
}

.txt-gray-9 {
    color: $gray-900;
}

label {
    color: $gray-500;
    font-size: $fs-12;
}

.form-control {
    color: $gray-850;
    font-size: $fs-16;
}

hr {
    &.hr-pzprimary {
        border: 0.5px solid $pzprimary;
    }
}

.arrow-expand {
    width: 10px;
    height: 10px;
    background-image: url(../assets/img/arrow-expand.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.pz-fa-active-icon {
    color: $pzprimary;
    font-size: 1.25rem;
}

.font-weight-semi-bold {
    font-weight: $font-wt-600 !important;
}

.txt-readonly-form-data {
    color: $black;
    font-size: 0.875rem;
}
// spacing table styles
.table.spacing-table {
    border-collapse: separate;
    border-spacing: 0 3px;
    font-size: 0.875rem;
    >thead {
        >tr {
            >th {
                padding: 0.312rem 0.625rem;
                border: 0;
                vertical-align: top;
            }
        }
    }
    >tbody {
        >tr {
            background: $white;
            cursor: pointer;
            >td {
                padding: 0.625rem;
                border-bottom: 1px solid $gray-200;
                border-top: 1px solid $gray-200;
                &:first-child {
                    border-left: 1px solid $gray-200;
                    -webkit-border-radius: 3px 0 0 3px;
                    -moz-border-radius: 3px 0 0 3px;
                    -ms-border-radius: 3px 0 0 3px;
                    border-radius: 3px 0 0 3px;
                }
                &:last-child {
                    border-right: 1px solid $gray-200;
                    -webkit-border-radius: 0 3px 3px 0;
                    -moz-border-radius: 0 3px 3px 0;
                    -ms-border-radius: 0 3px 3px 0;
                    border-radius: 0 3px 3px 0;
                }
            }
            &.disabled-row {
                opacity: $pz-opacity;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


// Floating lable css
.floating-label-form-group {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
    &:focus {
        outline: none;
    }
    .valid-feedback,
    .invalid-feedback {
        position: absolute;
        bottom: -7px;
    }
    .invalid-feedback {
        color: $pzprimary;
        font-style: italic;
    }
    label,
    .form-control {
        transition: all 0.2s;
        touch-action: manipulation;
    }
    .form-control {
        border: 0;
        border-bottom: 1px solid $input-border-color;
        font-family: inherit;
        -webkit-appearance: none;
        border-radius: 0;
        padding: 0;
        outline: none;
        cursor: text;
        &:focus, &.is-invalid {
            outline: 0;
            box-shadow: none;
            border-bottom: 1px solid $pzprimary;
        }
        &:placeholder-shown+label {
            cursor: text;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transform-origin: left bottom;
            transform: translate(0, 1.65rem) scale(1);
        }
        &:focus::-webkit-input-placeholder {
            opacity: 1;
        }
        &.form-control:not(:placeholder-shown)+label,
        &.form-control:focus+label {
            transform: translate(0, 0) scale(1);
            cursor: pointer;
        }
    }
    label {
        line-height: 1.4rem;
        margin: 0;
        font-size: $fs-10;
    }
    ::-webkit-input-placeholder {
        opacity: 0 !important;
        color: transparent !important;
        transition: inherit;
        color: transparent;
    }
}

.box-shadow {
    -webkit-box-shadow: 0.01rem 0.08rem 0.8rem rgba(0, 0, 0, 0.15);
    box-shadow: 0.01rem 0.08rem 0.8rem rgba(0, 0, 0, 0.15);
}

.card {
    @extend .box-shadow;
    .card-header {
        &.no-bg {
            background-color: transparent;
            border-bottom: none;
        }
        .card-actions {
            text-align: right;
            .fa {
                font-size: $fs-24;
                cursor: pointer;
                color: #808495;
            }
        }
    }
    .card-body {
        .fa.fa-angle-up, .fa.fa-angle-down {
            font-size: $fs-24;
            cursor: pointer;
            color: #808495;
        }
    }
}

.form-group {
    label {
        font-size: 0.625rem;
    }
    .custom-control {
        .custom-control-label {
            color: $body-color;
            font-size: $fs-14;
        }
    }
    .input-group {
        &.floating {
            &.is-invalid {
                .input-group-prepend {
                    border-color: $pzprimary;
                }
                .floating-label-form-group {
                    .form-control {
                        border-color: $pzprimary;
                    }
                }
                ~ .invalid-feedback {
                    display: block;
                    position: absolute;
                    bottom: -7px;
                    color: $pzprimary;
                }
            }
            .input-group-prepend {
                width: 69px;
                position: relative;
                border-bottom: 1px solid $input-border-color;
                .country-codes {
                    min-width: 80px;
                    .dropdown-menu {
                        padding: 10px;
                    }
                    .cust-form-control {
                        margin-bottom: 2px !important;
                        .placeholder {
                            border-bottom: none !important;
                            border-right: 1px solid $input-border-color;
                            padding-right: 0.625rem;
                            padding-bottom: 0;
                            padding-left: 0.3125rem;
                        }
                    }
                }
                .form-control {
                    background-color: transparent;
                    bottom: 0.125rem;
                    border: none;
                    border-right: 1px solid $gray-200;
                    position: absolute;
                    padding: 0;
                    text-align: center;
                    border-radius: 0;
                }
            }
            .floating-label-form-group {
                &.input-group-control {
                    width: calc(100% - 80px);
                }
                .form-control {
                    padding-left: 1.3rem;
                    padding-bottom: 0.125rem;
                }
                label {
                    padding-left: 1.3rem;
                }
            }
        }
    }
}

// .floating-label-form-group {
//     position: relative;
//     >label {
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         transition: 0.2s;
//         margin-bottom: 1px;
//         background: #fff;
//     }
//     >.form-control {
//         border-radius: 0;
//         border: 0;
//         padding-left: 0;
//         border-bottom: 1px solid #acacac;
//         &:focus {
//             outline: 0;
//             box-shadow: none;
//         }
//         &:focus + label {
//             // do some thing here on focus
//             top: 100%;
//             top: -20px;
//             bottom: 25px;
//         }
//         &:valid {
//             background: #fff;
//         }
//     }
// }
.pz-icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-size: contain; // auto for actual size
    background-repeat: no-repeat;
    cursor: pointer;
    &.icon-home {
        background-image: url(../assets/img/home_icon_grey.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/home_icon_org.svg);
        }
    }
    &.icon-users {
        background-image: url(../assets/img/manage_user_icon_grey.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/manage_users_icon_org.svg);
        }
    }
    &.icon-report {
        background-image: url(../assets/img/report_icon_grey.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/report_icon_org.svg);
        }
    }
    &.icon-arrow-expand {
        background-image: url(../assets/img/up_arrow_icon_blue.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/up_arrow_icon_blue.svg);
        }
    }
    &.icon-right-arrow {
        background-image: url(../assets/img/right_arrow_icon_org.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/right_arrow_icon_org.svg);
        }
    }
    &.icon-left-arrow {
        background-image: url(../assets/img/left_arrow_icon_org.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/left_arrow_icon_org.svg);
        }
    }
    &.icon-lock {
        background-image: url(../assets/img/lock_icon.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/lock_icon.svg);
        }
    }
    &.icon-excel-download {
        background-image: url(../assets/img/excel_download_icon_org.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/excel_download_icon_org.svg);
        }
    }
    &.icon-close-circle {
        background-image: url(../assets/img/cross_circle_icon_grey.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/cross_circle_icon_org.svg);
        }
    }
    &.icon-filter {
        background-image: url(../assets/img/filter_icon.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/filter_icon.svg);
        }
    }
    &.icon-grid-view {
        background-image: url(../assets/img/gridview_icon.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/gridview_icon.svg);
        }
    }
    &.icon-list-view {
        background-image: url(../assets/img/listview_icon.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/listview_icon.svg);
        }
    }
    &.icon-search {
        background-image: url(../assets/img/search_icon_org.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/search_icon_org.svg);
        }
    }
    &.icon-clear-field {
        background-image: url(../assets/img/cross_icon_search.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/cross_icon_search.svg);
        }
    }
    &.icon-add {
        background-image: url(../assets/img/add_icon_org.svg);
    }
    &.icon-remove {
        background-image: url(../assets/img/cross_circle_icon_org.svg);
    }
    &.icon-minus-circle {
        background-image: url(../assets/img/remove_circle_icon_blue.svg);
    }
    &.icon-check {
        background-image: url(../assets/img/check_icon_green.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/check_icon_green.svg);
        }
    }
    &.icon-sort {
        background-image: url(../assets/img/sort_icon_grey.svg);
        &.icon-state-hover:hover, &.icon-active {
            background-image: url(../assets/img/sort_icon_org.svg);
        }
    }
    &.icon-size-10 {
        width: 0.625rem;
        height: 0.625rem;
    }
    &.icon-size-12 {
        width: 0.75rem;
        height: 0.75rem;
    }
    &.icon-size-13 {
        width: 0.8125rem;
        height: 0.8125rem;
    }
    &.icon-size-14 {
        width: 0.875rem;
        height: 0.875rem;
    }
    &.icon-size-16 {
        width: 1rem;
        height: 1rem;
    }
    &.icon-size-18 {
        width: 1.125rem;
        height: 1.125rem;
    }
    &.icon-size-20 {
        width: 1.25rem;
        height: 1.25rem;
    }
    &.icon-size-24 {
        width: 1.5rem;
        height: 1.5rem;
    }
    &.icon-size-28 {
        width: 1.75rem;
        height: 1.75rem;
    }
    &.icon-size-32 {
        width: 2rem;
        height: 2rem;
    }
}
.pz-active, .nav-link:hover {
    .icon-home {
        background-image: url(../assets/img/home_icon_org.svg) !important;
    }
    .icon-users {
        background-image: url(../assets/img/manage_users_icon_org.svg) !important;
    }
    .icon-report {
        background-image: url(../assets/img/report_icon_org.svg) !important;
    }
    &:hover {
        .icon-home {
            background-image: url(../assets/img/home_icon_org.svg) !important;
        }
    }
}
@include media-breakpoint-between(xs,sm){
    .btn-responsive {
        @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
    }
}
// styles for toggle switch
.pz-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 14px;
    input {
        display:none;
    }
    .pz-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #77CE7A;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .pz-slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 0;
        bottom: -3px;
        background-color: #ACACAC;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input + .pz-slider {
        background-color: #CDCDD1;
    }
    input:checked + .pz-slider {
        background-color: #77CE7A;
    }
    input:focus + .pz-slider {
        box-shadow: 0 0 1px #2196F3;
    } 
    input:checked + .pz-slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
        background-color: #00AD00;
    }
    .pz-slider.round {
        border-radius: 34px;
    } 
    .pz-slider.round:before {
    border-radius: 50%;
    }
}

// button styles
.btn-pzprimary {
    &.btn {
        font-weight: $font-wt-600;
        border-radius: $br-3;
        outline: none;
        box-shadow: none !important;
    }
    &.btn-md {
        font-size: $fs-12;
    }
}
 
.lh-1 {
    line-height: 1 !important;
}

.pz-modal-popup {
    max-width: 400px;
    .modal-body {
        padding: 1.875rem;
        textarea {
            height: 116px;
            background: $gray-100;
            border: 1px solid $gray-300;
            resize: none;
        }
    }
}

.gutters-small {
    margin-right: -5px;
    margin-left: -5px;
    
    > .col,
    > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.pz-custom-checkbox {
    .custom-control-label::after {
        background-size: 90%;
    }
    .custom-control-label::before {
        border: 2px solid $pzprimary;
        background-color: $white;
        border-radius: 0.1875rem;
    }
}
