@import '../../../styles/mixins';
@import '../../../styles/variables';
.page-header {
    .pz-switch {
        top: 3px;
    }
    .label-data {
        font-size: $fs-14;
        font-weight: $font-wt-600;
        color: $gray-550;
    }
    .w-fixed {
        width: 61px;
    }
}
.notes-body {
    font-size: $fs-14;
}
.form-control::placeholder {
    color: transparent;
}
.mat-form-field-label-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    top: -.84375em;
    padding-top: .84375em;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: left;
    label {
        cursor: text;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(0, 1.65rem) scale(1);
    }
    &:focus {
        transform: translate(0, 0) scale(1);
        cursor: pointer;
    }
}
.checking-email {
    position: absolute;
    left: 14px;
    bottom: 0;
    color: $gray-500;
    font-size: $fs-10;
    font-weight: 600;
}
.page-container {
    @include heightMinus(193px, 100vh);
    padding-right: 1.25rem;
}