<div class="container-fluid p-0">
    <div class="row page-header">
        <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 col-xs-12">
            <h3 class="txt-gray-7 font-weight-normal" translate="{{'new' === userId ? 'USER_FORM.CREATE_TITLE' : 'USER_FORM.EDIT_TITLE'}}"></h3>
        </div>
        <div class="col text-right align-self-center" *ngIf="'new' !== userId && userDetails">
            <label class="mb-0">Status: <span class="label-data">{{'COMMON.STATUS.'+userDetails.status | translate}}</span></label>
        </div>
        <div [pzFeatureToggle]="true" permission="ManageUserLock" class="col-auto align-self-center text-right" *ngIf="'new' !== userId && userDetails && userDetails.status === 'ACTIVE'">
            <label class="mr-2 mb-0 label-data w-fixed">{{isAccountLocked ? 'Locked' : 'Unlocked'}}</label>
            <label class="pz-switch mb-0">
                <input type="checkbox" [value]="!isAccountLocked" [checked]="!isAccountLocked" (change)="onStatusChange()">
                <span class="pz-slider round"></span>
            </label>
        </div>
    </div>
    <div class="page-container scrollable-y" *ngIf="renderForm">
        <form [formGroup]="usrFrm" (ngSubmit)="saveUser()" novalidate>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="form-group row">
                        <div [ngClass]="{'col-auto': 'new' === userId, 'col-md-12': 'new' !== userId}">
                            <label>
                                {{'USER_FORM.FIELDS.USER_TYP.LABEL' | translate}}
                            </label>
                        </div>
                        <div class="col-md-12" *ngIf="'new' !== userId">
                            {{('TENANT' === userType.value ? 'USER_FORM.FIELDS.USER_TYP.INT' :
                            'USER_FORM.FIELDS.USER_TYP.EXT') | translate}}
                        </div>
                        <div class="col-auto" *ngIf="'new' === userId">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                    [formControl]="userType" name="userType" value="TENANT">
                                <label class="custom-control-label" for="customRadio1">{{'USER_FORM.FIELDS.USER_TYP.INT'
                                    | translate}}</label>
                            </div>
                        </div>
                        <div class="col-auto" *ngIf="'new' === userId">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                                    [formControl]="userType" name="userType" value="CUSTOMER">
                                <label class="custom-control-label" for="customRadio2">{{'USER_FORM.FIELDS.USER_TYP.EXT'
                                    | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div *ngIf="includeUsername" [ngClass]="{'col-sm-12 col-md-12 col-lg-6 col-xl-5': 'new' === userId, 'col-auto': 'new' !== userId}">
                            <div class="floating-label-form-group">
                                <input type="text" id="username" class="form-control" placeholder="{{'USER_FORM.FIELDS.USER_NAME.LABEL' | translate}}"
                                    autocomplete="username" [ngClass]="{'is-invalid': (formSubmitted || username.touched) && username.invalid}"
                                    [formControl]="username" *ngIf="'new' === userId">
                                    <span *ngIf="'new' !== userId" id="emailId">{{userId}}
                                        <pz-reset-password [user]="userDetails" class="ml-4" [pzFeatureToggle]="true"
                                            permission="ResetPassword"></pz-reset-password>
                                    </span>
                                <label class="txt-gray-5" for="username">{{'USER_FORM.FIELDS.USER_NAME.LABEL' |
                                    translate}}
                                    <span class="text-muted">*</span>
                                </label>
                                <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!includeUsername" [ngClass]="{'col-sm-12 col-md-12 col-lg-6 col-xl-5': 'new' === userId, 'col-auto': 'new' !== userId}">
                            <div class="floating-label-form-group">
                                <input type="email" id="emailId" class="form-control" placeholder="{{'USER_FORM.FIELDS.EMAIL.LABEL' | translate}}"
                                    autocomplete="off" [ngClass]="{'is-invalid': (formSubmitted || emailId.touched) && emailId.invalid}"
                                    [formControl]="emailId" *ngIf="'new' === userId">
                                <span *ngIf="'new' !== userId" id="emailId">{{userId}}
                                    <pz-reset-password [user]="userDetails" class="ml-4" [pzFeatureToggle]="true"
                                        permission="ResetPassword"></pz-reset-password>
                                </span>
                                <label class="txt-gray-5" for="emailId">{{'USER_FORM.FIELDS.EMAIL.LABEL' | translate}}
                                    <span class="text-muted">*</span>
                                </label>
                                <div class="invalid-feedback" *ngIf="emailId.errors && !emailId.errors.emailTaken"
                                    translate="COMMON.ERRORS.FIELD_REQ">
                                </div>
                                <div class="invalid-feedback" *ngIf="emailId.errors && emailId.errors.emailTaken"
                                    translate="COMMON.ERRORS.EMAIL_TAKEN">
                                </div>
                                <div class="checking-email" *ngIf="emailId.status === 'PENDING'" translate="COMMON.ERRORS.CHECKING"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
                            <div class="floating-label-form-group">
                                <input type="text" id="firstName" class="form-control text-uppercase" placeholder="{{'USER_FORM.FIELDS.F_NAME.LABEL' | translate}}"
                                    autocomplete="given-name" [ngClass]="{'is-invalid': (formSubmitted || firstName.touched) && firstName.invalid}"
                                    [formControl]="firstName">
                                <label class="txt-gray-5" for="firstName">{{'USER_FORM.FIELDS.F_NAME.LABEL' |
                                    translate}}
                                    <span class="text-muted">*</span>
                                </label>
                                <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
                            <div class="floating-label-form-group">
                                <input type="text" id="lastName" class="form-control text-uppercase" placeholder="{{'USER_FORM.FIELDS.L_NAME.LABEL' | translate}}"
                                    autocomplete="family-name" [ngClass]="{'is-invalid': (formSubmitted || lastName.touched) && lastName.invalid}"
                                    [formControl]="lastName">
                                <label class="txt-gray-5" for="lastName">{{'USER_FORM.FIELDS.L_NAME.LABEL' |
                                    translate}}
                                    <span class="text-muted">*</span>
                                </label>
                                <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header row no-bg">
                    <div class="col-sm-9 txt-gray-7 font-weight-semi-bold">
                        {{'USER_FORM.SECTIONS.CONT_INFO.TITLE' | translate}}
                    </div>
                    <div class="col-sm-3 card-actions">
                        <i class="fa" [ngClass]="{'fa-angle-down': collapseCardData.card1.isCollapsed, 'fa-angle-up': !collapseCardData.card1.isCollapsed}"
                            (click)="collapseCardData.card1.isCollapsed = !collapseCardData.card1.isCollapsed"
                            [attr.aria-expanded]="!collapseCardData.card1.isCollapsed" aria-controls="collapseEvent1"></i>
                    </div>
                </div>
                <div class="card-body" id="collapseEvent1" [collapse]="collapseCardData.card1.isCollapsed">
                    <div *ngIf="includeUsername" class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
                            <div class="floating-label-form-group">
                                <input type="email" id="emailId" class="form-control" placeholder="{{'COMMON.LABEL.EMAIL' | translate}}"
                                    autocomplete="off" [ngClass]="{'is-invalid': (formSubmitted || emailId.touched) && emailId.invalid}"
                                    [formControl]="emailId">
                                <label class="txt-gray-5" for="emailId">{{'COMMON.LABEL.EMAIL' | translate}}
                                    <span class="text-muted">*</span>
                                </label>
                                <div class="invalid-feedback" *ngIf="emailId.errors && !emailId.errors.emailTaken"
                                    translate="COMMON.ERRORS.FIELD_REQ">
                                </div>
                                <div class="invalid-feedback" *ngIf="emailId.errors && emailId.errors.emailTaken"
                                    translate="COMMON.ERRORS.EMAIL_TAKEN">
                                </div>
                                <div class="checking-email" *ngIf="emailId.status === 'PENDING'" translate="COMMON.ERRORS.CHECKING"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
                            <div class="floating-label-form-group">
                                <input type="text" id="address1" class="form-control" placeholder="{{'USER_FORM.FIELDS.ADD_1.LABEL' | translate}}"
                                    autocomplete="address-line1" [ngClass]="{'is-invalid': (formSubmitted || address1.touched) && address1.invalid}"
                                    [formControl]="address1">
                                <label class="txt-gray-5" for="address1">{{'USER_FORM.FIELDS.ADD_1.LABEL' | translate}}
                                    <span class="text-muted">{{isRequired ? "*" : ""}}</span>
                                </label>
                                <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
                            <div class="floating-label-form-group">
                                <input type="text" id="address2" class="form-control" placeholder="{{'USER_FORM.FIELDS.ADD_2.LABEL' | translate}}"
                                    autocomplete="address-line2" [formControl]="address2">
                                <label class="txt-gray-5" for="address2">{{'USER_FORM.FIELDS.ADD_2.LABEL' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
                            <div class="floating-label-form-group">
                                <input type="text" id="compName" class="form-control" placeholder="{{'USER_FORM.FIELDS.COMP_NAME.LABEL' | translate}}"
                                    autocomplete="organization" [ngClass]="{'is-invalid': (formSubmitted || companyName.touched) && companyName.invalid}"
                                    [formControl]="companyName">
                                <label class="txt-gray-5" for="compName">{{'USER_FORM.FIELDS.COMP_NAME.LABEL' |
                                    translate}}
                                    <span class="text-muted">{{isRequired ? "*" : ""}}</span>
                                </label>
                                <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
                            <pz-select-box [pzFrm]="usrFrm" [pzFrmControl]="country" [pzControlLabel]="'USER_FORM.FIELDS.COUNTRY.LABEL'"
                                [items]="countries" [formSubmitted]="formSubmitted" [selectCode]="'countryCode'"
                                [displayKey]="'countryName'" (onItemSelect)="onCountrySelect($event)"></pz-select-box>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                    <pz-select-box [pzFrm]="usrFrm" [pzFrmControl]="state" [pzControlLabel]="'USER_FORM.FIELDS.STATE.LABEL'"
                                        [selectCode]="'stateCode'" [formSubmitted]="formSubmitted" [items]="states"
                                        [displayKey]="'stateName'" [isRequired]="isRequired" [isDisabled]="country.invalid"
                                        (onItemSelect)="onStateSelect($event)"></pz-select-box>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                    <div class="floating-label-form-group">
                                        <input type="email" id="city" class="form-control" placeholder="{{'USER_FORM.FIELDS.CITY.LABEL' | translate}}"
                                            [formControl]="city" autocomplete="city-name" [ngClass]="{'is-invalid': (formSubmitted || city.touched) && city.invalid}">
                                        <label class="txt-gray-5" for="city">{{'USER_FORM.FIELDS.CITY.LABEL' |
                                            translate}}
                                            <span class="text-muted">{{isRequired ? "*" : ""}}</span>
                                        </label>
                                        <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                    <div class="floating-label-form-group">
                                        <input type="text" id="zip" class="form-control" placeholder="{{'USER_FORM.FIELDS.ZIP.LABEL' | translate}}"
                                            autocomplete="postal-code" [ngClass]="{'is-invalid': (formSubmitted || zip.touched) && zip.invalid}"
                                            [formControl]="zip">
                                        <label class="txt-gray-5" for="zip">{{'USER_FORM.FIELDS.ZIP.LABEL' |
                                            translate}}
                                            <span class="text-muted">
                                                <span class="text-muted">{{isRequired ? "*" : ""}}</span>
                                            </span>
                                        </label>
                                        <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                    <div class="floating input-group mb-3" [ngClass]="{'is-invalid': (formSubmitted || mobile.touched) && mobile.invalid}">
                                        <div class="input-group-prepend">
                                            <pz-select-box [pzFrm]="usrFrm" [pzFrmControl]="mobileCd" [items]="countryCodes"
                                                [contaimerClass]="'country-codes'" [selectCode]="'pCode'" [displayKey]="'pCode'"></pz-select-box>
                                        </div>
                                        <div class="floating-label-form-group mb-0 input-group-control">
                                            <input type="tel" id="mob" class="form-control" placeholder="{{'USER_FORM.FIELDS.MOB.LABEL' | translate}}"
                                                autocomplete="tel" [formControl]="mobile">
                                            <label class="txt-gray-5" for="mob">{{'USER_FORM.FIELDS.MOB.LABEL' |
                                                translate}}
                                                <span class="text-muted">&nbsp;</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                    <div class="floating input-group mb-3" [ngClass]="{'is-invalid': (formSubmitted || phoneno.touched) && phoneno.invalid}">
                                        <div class="input-group-prepend">
                                            <pz-select-box [pzFrm]="usrFrm" [pzFrmControl]="phonenoCd" [items]="countryCodes"
                                                [contaimerClass]="'country-codes'" [selectCode]="'pCode'" [displayKey]="'pCode'"></pz-select-box>
                                        </div>
                                        <div class="floating-label-form-group mb-0 input-group-control">
                                            <input type="tel" id="phoneno" class="form-control" placeholder="{{'USER_FORM.FIELDS.PH.LABEL' | translate}}"
                                                autocomplete="tel-national" [formControl]="phoneno">
                                            <label class="txt-gray-5" for="phoneno">{{'USER_FORM.FIELDS.PH.LABEL' |
                                                translate}}
                                                <span class="text-muted" *ngIf="isRequired">*</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                    <div class="floating input-group mb-3" [ngClass]="{'is-invalid': (formSubmitted || fax.touched) && fax.invalid}">
                                        <div class="input-group-prepend">
                                            <pz-select-box [pzFrm]="usrFrm" [pzFrmControl]="faxCd" [items]="countryCodes"
                                                [contaimerClass]="'country-codes'" [selectCode]="'pCode'" [displayKey]="'pCode'"></pz-select-box>
                                        </div>
                                        <div class="floating-label-form-group mb-0 input-group-control">
                                            <input type="text" id="fax" class="form-control" placeholder="{{'USER_FORM.FIELDS.FAX.LABEL' | translate}}"
                                                autocomplete="fax" [formControl]="fax">
                                            <label class="txt-gray-5" for="fax">{{'USER_FORM.FIELDS.FAX.LABEL' |
                                                translate}}
                                                <span class="text-muted">&nbsp;</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback" translate="COMMON.ERRORS.FIELD_REQ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                    <pz-select-box [pzFrm]="usrFrm" [pzFrmControl]="preferredContactType"
                                        [pzControlLabel]="'USER_FORM.FIELDS.MOC.LABEL'" [items]="modes"></pz-select-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <pz-roles-card *ngIf="'TENANT' === userType.value" [cardTitleLable]="'USER_FORM.SECTIONS.APP_ROLES.TITLE'"
                [fGroup]="usrFrm" [addRoleGroup]="'new' !== userId && userDetails.migrationStatus !== 'NOT_STARTED'"
                (addNewRoleGroup)="addNewAppRole($event)" [roleGroups]="rolesGroup.appRoles" [formSubmitted]="formSubmitted"
                [roleGroupType]="'APP_ROLE'" [groupItems]="apps" [formArray]="appRoles" (removeRoleGroup)="removeAppRole($event)"></pz-roles-card>
            <pz-roles-card *ngIf="'CUSTOMER' === userType.value" [cardTitleLable]="'USER_FORM.SECTIONS.CUST_ACC_ROLES.TITLE'"
                [fGroup]="usrFrm" [formArray]="customerAccRoles" [roleGroups]="rolesGroup.customerAccRoles"
                [formSubmitted]="formSubmitted" [roleGroupType]="'CUSTOMER_ACC_ROLE'" [addRoleGroup]="'new' !== userId && userDetails.migrationStatus !== 'NOT_STARTED'"
                (addNewRoleGroup)="addNewCustomerRole($event)" [groupItems]="custAccounts" (removeRoleGroup)="removeCustomerRole($event)"></pz-roles-card>
            <pz-navbar-fixed-bottom *ngIf="showActionButtons" [buttons]="actionButtons" (buttonClicked)="buttonClickedHandler($event)"></pz-navbar-fixed-bottom>
        </form>
        <div class="card mb-3" *ngIf="'new' !== userId && 'CUSTOMER' === userType.value">
            <div class="card-header row no-bg">
                <div class="col-sm-9 txt-gray-7 font-weight-semi-bold" translate="USER_FORM.SECTIONS.NOTES.TITLE">
                </div>
                <div class="col-sm-3 card-actions">
                    <i class="fa" [ngClass]="{'fa-angle-down': collapseCardData.card2.isCollapsed, 'fa-angle-up': !collapseCardData.card2.isCollapsed}"
                        (click)="toggleNotes()" [attr.aria-expanded]="!collapseCardData.card2.isCollapsed"
                        aria-controls="collapseEvent2"></i>
                </div>
            </div>
            <div class="card-body" id="collapseEvent2" [collapse]="collapseCardData.card2.isCollapsed">
                <div class="form-row notes-body" *ngIf="statusLogs && statusLogs.length; else noNotes">
                    <div class="form-group mb-2 col">
                        <div class="mb-2" *ngFor="let log of statusLogs">
                            <div class="" *ngIf="log.type !== 'USER_AUTHORIZATION'">
                                <span class="text-pzprimary">
                                    {{'USER_FORM.SECTIONS.NOTES.PROFILE.'+log.status | translate}}: </span><span class="txt-readonly-form-data">{{log.comments}}</span>
                            </div>
                            <div class="" *ngIf="log.type === 'USER_AUTHORIZATION'">
                                <span class="text-pzprimary">
                                    {{'USER_FORM.SECTIONS.NOTES.CUSTOMER.'+log.status | translate: log }}: </span><span
                                    class="txt-readonly-form-data">{{log.comments}}</span>
                            </div>
                            <div class="txt-readonly-form-data text-muted">
                                <span *ngIf="log.status != 'APPROVAL_PENDING'">{{log.modifiedBy}}, </span>
                                {{log.modifiedOn | date: 'M.d.yyyy | HH:mm:ss'}}
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noNotes>
                    <div>
                        {{'USER_FORM.SECTIONS.NOTES.NOT_AVAIL' | translate}}
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="card mb-3" *ngIf="'new' !== userId">
            <div class="card-header row no-bg">
                <div class="col-sm-9 txt-gray-7 font-weight-semi-bold" translate="USER_FORM.SECTIONS.LOG_DETAIL.TITLE">
                </div>
                <div class="col-sm-3 card-actions">
                    <i class="fa" [ngClass]="{'fa-angle-down': collapseCardData.card3.isCollapsed, 'fa-angle-up': !collapseCardData.card3.isCollapsed}"
                        (click)="collapseCardData.card3.isCollapsed = !collapseCardData.card3.isCollapsed"
                        [attr.aria-expanded]="!collapseCardData.card3.isCollapsed" aria-controls="collapseEvent3"></i>
                </div>
            </div>
            <div class="card-body" id="collapseEvent3" [collapse]="collapseCardData.card3.isCollapsed">
                <div class="row">
                    <div class="form-group mb-2 col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="mb-1">{{'USER_FORM.FIELDS.CREATED.LABEL' | translate}}</label>
                        <p class="mb-0 txt-readonly-form-data">{{userDetails.createdBy}}</p>
                        <p class="mb-1 txt-readonly-form-data text-muted">{{userDetails.createdOn | date: 'M.d.yyyy |
                            HH:mm:ss'}}</p>
                    </div>
                    <div class="form-group mb-2 col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="mb-1">{{'USER_FORM.FIELDS.UPDATED.LABEL' | translate}}</label>
                        <p class="mb-0 txt-readonly-form-data">{{userDetails.modifiedBy}}</p>
                        <p class="mb-0 txt-readonly-form-data text-muted">{{userDetails.modifiedOn | date: 'M.d.yyyy |
                            HH:mm:ss'}}</p>
                    </div>
                    <div class="form-group mb-2 col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="mb-1">{{'USER_FORM.FIELDS.L_LOGIN.LABEL' | translate}}</label>
                        <p class="mb-0 txt-readonly-form-data">{{userDetails.userId}}</p>
                        <p class="mb-0 txt-readonly-form-data text-muted">{{userDetails.lastLoginTime | date: 'M.d.yyyy
                            | HH:mm:ss'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>