<div class="form-group" [ngClass]="{'border-top': rowIndex !== 0}">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
            <pz-select-box [pzFrm]="fGroup" [pzFrmControl]="roleGroup.group.control" [pzControlLabel]="roleGroup.group.label" [items]="groupItems"
                [disableOnSelect]="true" [selectCode]="roleGroup.group.selectCode" [displayKey]="roleGroup.group.displayKey"
                [formSubmitted]="formSubmitted" [editable]="roleGroup.group.editable" [displayBadges]="true" [serverSideSearch]="roleGroup.group.serverSideSearch" (onItemSelect)="selectGroupItem($event)"
                [searchLabel]="roleGroup.group.SEARCH_LABEL" (loadData)="searchCustomers($event)"></pz-select-box>
            <div class="auth-actions-wrapper" *ngIf="roleGroup.actions">
                <span class="auth-status mr-3" *ngIf="roleGroup.actions.status">
                    <i class="pz-icon icon-size-10 mr-1" [ngClass]="{'icon-check': roleGroup.actions.status === 'ACTIVE'}" aria-hidden="true" *ngIf="roleGroup.actions.status === 'ACTIVE'"></i><span [ngClass]="{'approved': roleGroup.actions.status === 'ACTIVE', 'pending-aproval mr-2': roleGroup.actions.status === 'APPROVAL_PENDING', 'rejected': roleGroup.actions.status === 'REJECT'}">{{'COMMON.STATUS.'+roleGroup.actions.status | translate}}</span>
                </span>
                <button type="button" [disabled]="disableActions" class="btn btn-sm btn-link px-0 mr-2 font-weight-semi-bold" (click)="removeRow()" *ngIf="roleGroup.actions.status !== 'APPROVAL_PENDING' && roleGroup.actions.canBeRemoved && roleGroup.actions.userStatus !== 'APPROVAL_PENDING'"><i class="pz-icon icon-minus-circle  icon-size-13"></i>{{'COMMON.ACTIONS.REMOVE' | translate}}</button>
                <button type="button" class="btn btn-sm btn-outline-secondary mr-2" *ngIf="roleGroup.actions.status === 'APPROVAL_PENDING' && roleGroup.actions.userStatus !== 'APPROVAL_PENDING' && roleGroup.actions.isAuthorizedUser" (click)="rejectCustomer()">{{'COMMON.ACTIONS.REJECT' | translate}}</button>
                <button type="button" class="btn btn-sm btn-outline-pzprimary" *ngIf="roleGroup.actions.status === 'APPROVAL_PENDING' && roleGroup.actions.userStatus !== 'APPROVAL_PENDING' && roleGroup.actions.isAuthorizedUser" (click)="approveCustomer()">{{'COMMON.ACTIONS.APPROVE' | translate}}</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
            <pz-select-box [pzFrm]="fGroup" [pzFrmControl]="roleGroup.role.control" [pzControlLabel]="roleGroup.role.label" [items]="roleGroup.roles"
                [editable]="roleGroup.role.editable" [displayBadges]="true" [isMultiSelect]="roleGroup.role.isMultiSelect" [formSubmitted]="formSubmitted"
                [searchLabel]="roleGroup.role.SEARCH_LABEL"></pz-select-box>
            <!-- <div class="badges" *ngIf="roleGroup.role.badges">
                <span class="badge badge-pill pz-badge-pill badge-primary">Primary</span>
            </div> -->
        </div>
    </div>
    <div class="row"></div>
</div>