@import '../../../styles/mixins';
@import '../../../styles/variables';
.auth-actions-wrapper {
    .auth-status {
        font-size: $fs-12;
        font-weight: $font-wt-600;
        &.approved{
            color: $green;
        }
        &.pending-aproval {
            color: $pzprimary;
        }
        &.rejected {
            color: $pzprimary;
        }
        i.icon-check {
            position: relative;
            top: 2px;
        }
        span {
            &.approved{
                color: $green;
            }
            &.pending-aproval {
                color: $pzprimary;
            }
            &.rejected {
                color: $pzprimary;
            }
        }
    }
    i.icon-minus-circle {
        position: relative;
        top: 1px;
        margin-right: 4px;
    }
    .btn {
        padding: 0 0.5rem 0.13rem;
        line-height: 1.3;
    }
}
