<pz-alert></pz-alert>
<pz-loading-spinner></pz-loading-spinner>
<pz-header class="el-block" [collapse]="collapse"></pz-header>
<main role="main" class="full-vht container-fluid">
    <div class="row full-ht">
        <div class="col-auto side-nav-wrapper p-0" *ngIf="isAuthenticated">
            <pz-side-nav [(collapse)]="collapse"></pz-side-nav>
        </div>
        <div class="col px-3 py-3 px-sm-4 py-sm-3 px-md-4 py-md-4 px-lg-5 py-lg-4 px-xl-5 py-xl-4 bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
