@import '../styles/variables';
pz-root {
    display: block;
    margin: 0 auto;
    max-width: 1349px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 0 0 1px $gray-300;
    > .container-fluid {
        padding: 54px 15px 0 15px;
    }
    .side-nav-wrapper {
        background: $sidenav-bg;
        border-right: 1px solid $gray-300;
    }
}
.cust-list-popover {
    max-width: 235px;
    .body-content {
        font-size: $fs-12;
        color: $gray-700;
        max-height: 80px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}