
<div class="filters-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h6 class="d-inline-block m-0 font-weight-normal">{{'USERS.LABEL.FILTERS' | translate}}</h6>
    <button type="button" class="btn btn-link py-0 clear" (click)="resetForm()">{{'COMMON.ACTIONS.CLEAR' | translate}}</button>
    <div class="flex-grow-1 text-right"><i class="pz-icon icon-close-circle" (click)="close()"></i></div>
  </div>
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="mb-2" *ngFor="let filter of groupedFilters">
      <label class="mb-0 font-weight-semi-bold txt-gray-7">{{'FILTERS.'+filter.fieldLabel+'.LABEL' | translate}}</label>
      <div class="custom-control custom-checkbox pz-custom-checkbox" [formArrayName]="filter.field" *ngFor="let control of filterForm.get(filter.field)['controls']; let i = index">
          <input type="checkbox" class="custom-control-input" [value]="filter.options[i].value" id="{{filter.field + i}}" [formControlName]="i">
          <label class="custom-control-label txt-gray-7" for="{{filter.field + i}}">{{'FILTERS.'+filter.fieldLabel+'.'+filter.options[i].label | translate}}</label>
      </div>
    </div>
  </form>
</div>