@import '../../../styles/variables';
:host {
  background: white;
  color: black;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  width: 20%;
  min-width: 250px;
  bottom: 0;
  z-index: 9999;
  padding: 1.25rem;
  border: 1px solid #F0F0F7;
  .clear {
    font-size: $fs-13;
  }
}

// .filters-container {
//   background: white;
//   color: black;
//   position: fixed;
//   left: auto;
//   top: 0;
//   right: 0;
//   width: 20%;
//   min-width: 250px;
//   bottom: 0;
//   z-index: 9999;
//   padding: 1.25rem;
// }
// .overlay-filters {
//   opacity: 0.8;
//   width: 100%;
//   height: 100%;
//   // width: 0;
//   position: fixed;
//   z-index: 8000;
//   top: 0;
//   left: 0;
//   background-color: rgba(0,0,0, 0.9);
//   overflow-y: auto;
//   overflow-x: hidden;
//   text-align: center;
//   // opacity: 0;
//   transition: opacity 1s;
// }
  