<div class="card shadow-sm border-0 user-type-card" (click)="onSelect()"> 
  <div class="card-body p-1">
    <label class="mb-1">{{"HOME."+type | translate}}</label>
    <hr class="hr-pzprimary">
    <h4 class="card-text txt-gray-75">{{count | number}}
      <i class="pz-icon icon-arrow-expand pull-right"></i>
    </h4>
  </div>
</div>
    