.user-type-card {
    background: transparent;
    box-shadow: none !important;
    width: 160px;
    cursor: pointer;
    .hr-pzprimary {
        margin: 0;
        margin-bottom: 5px;
    }
    i {
        margin-top: 5px;
    }
}