<div class="reports-component">
    <div class="row user-detail-container mb-2 pr-4">
        <div class="col-auto">
            <h3 class="txt-gray-7 font-weight-normal">{{ 'REPORTS.HEADING' | translate }}</h3>
        </div>
        <div class="col text-right" *ngIf="reports">
            <a class="py-0 d-inline-block text-center">
                <i class="pz-icon icon-excel-download icon-size-18 icon-size-24"></i>
                <span class="d-block txt-gray-7 icon-text">Download</span>
            </a>
        </div>
    </div>
    <div class="report-table table-responsive">
        <table class="table spacing-table" *ngIf="reports">
            <thead class="txt-gray-7 font-weight-semi-bold">
                <tr>
                    <th>{{ 'REPORTS.T_HEADINGS.COMPANY_NUMBER' | translate }}</th>
                    <th>{{ 'REPORTS.T_HEADINGS.COMPANY_NAME' | translate }}</th>
                    <th>{{ 'REPORTS.T_HEADINGS.DEALERS_CODE' | translate }}</th>
                    <th>{{ 'REPORTS.T_HEADINGS.FIRST_NAME' | translate }}</th>
                    <th>{{ 'REPORTS.T_HEADINGS.LAST_NAME' | translate }}</th>
                    <th>{{ 'REPORTS.T_HEADINGS.EMAIL_ID' | translate }}</th>
                    <th>{{ 'REPORTS.T_HEADINGS.LAST_DATE' | translate }}</th>
                </tr>
            </thead>
            <tbody class="txt-gray-75">
                <tr *ngFor="let report of reports">
                    <td>{{report.companyId}}</td>
                    <td>{{report.companyName}}</td>
                    <td>{{report.dealersCode}}</td>
                    <td>{{report.firstName}}</td>
                    <td>{{report.lastName}}</td>
                    <td>{{report.emailId}}</td>
                    <td>{{report.lastLoginDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination class="pagination-component pagination-sm"
        [boundaryLinks]="true"
        [totalItems]="50"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
        (pageChanged)="pageChanged($event)">
    </pagination>
</div>
