<header>
  <nav class="navbar navbar-expand fixed-top bg-header shadow-sm">
    <a class="navbar-brand pz-logo" [ngClass]="{'logo-lg': !collapse, 'logo-sm': collapse}" (click)="onHome()">
      <div class="d-flex">
        <img src="/assets/img/pz_logo_full.svg" *ngIf="!collapse"/>
        <img src="/assets/img/pz_logo_icon.svg" *ngIf="collapse"/>
      </div>
    </a>
    <div class="collapse navbar-collapse justify-content-end" [ngClass]="{'border-right': isAuthenticated}">
      <ul class="navbar-nav">
        <li class="nav-item active" *ngIf="isAuthenticated">
          <div class="btn-group mr-3" dropdown>
            <button id="button-autoclose1" dropdownToggle type="button" class="btn btn-link text-dark dropdown-toggle px-0" aria-controls="dropdown-autoclose1">{{fullName}}<i class="fa fa-angle-down ml-2"></i>
            </button>
            <ul id="dropdown-autoclose1" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-autoclose1">
              <li role="menuitem"><a class="dropdown-item" style="cursor: pointer" (click)="onLogout()">Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <a class="navbar-brand tenant-logo" *ngIf="isAuthenticated">
      <img class="img-fluid" src="/assets/img/dana_logo.svg"/>
    </a>
  </nav>
</header>
