@import '../../../styles/_variables';
header {
    .navbar {
        padding: 0;
        max-width: 1349px;
        margin: 0 auto;
        border: none;
        .navbar-brand {
            display: inline-flex;
            padding: 12px;
            &.pz-logo {
                height: 54px;
                border-right: 1px solid $gray-300;
                img {
                    width: 100%;
                }
                &:hover {
                    cursor: pointer;
                }
                &.logo-lg {
                    // width: 166px;
                    padding-left: 20px;
                    padding-right: 37px;
                    >div {
                        width: 107px;
                    }
                }
                &.logo-sm {
                    width: 53px;
                }
            }
            &.tenant-logo {
                margin-right: 0;
                padding: 5px;
                width: 100px;
                height: 54px;
            }
        }
        .dropdown-toggle::after {
            display: none;
        }
    }
}