@import '../../../styles/variables';
.card {
    .card-body {
        .add-new-role-group {
            .btn {
                color: $pzprimary;
                font-weight: 600;
                .icon-add {
                    position: relative;
                    top: 0.1875rem;
                    margin-right: 0.625rem;
                }
            }
        }
    }
}