<div class="card mb-3">
    <div class="card-header no-bg">
        <div class="row">
            <div class="col-sm-9 txt-gray-7 font-weight-semi-bold">
                {{cardTitleLable | translate}}
            </div>
            <div class="col-sm-3 card-actions">
                <i class="fa" [ngClass]="{'fa-angle-down': rgCard.isCollapsed, 'fa-angle-up': !rgCard.isCollapsed}"
                    (click)="rgCard.isCollapsed = !rgCard.isCollapsed" [attr.aria-expanded]="!rgCard.isCollapsed"
                    aria-controls="rgCardEvent"></i>
            </div>
        </div>
    </div>
    <div class="card-body pt-0" id="rgCardEvent" [collapse]="rgCard.isCollapsed">
        <div class="row add-new-role-group" *ngIf="addRoleGroup">
            <button type="button" class="btn btn-link" (click)="addNew()" [disabled]="formArray && formArray.invalid">
                    <i class="pz-icon icon-add icon-size-16"></i>{{('APP_ROLE' === roleGroupType ? 'USER_FORM.SECTIONS.APP_ROLES.ADD_NEW_APP_ROLE' : 'USER_FORM.SECTIONS.CUST_ACC_ROLES.ADD_NEW_CUST_ROLE') | translate}}
            </button>
        </div>
        <pz-roles-group [fGroup]="fGroup" *ngFor="let roleGroup of roleGroups; let i = index" [roleGroup]="roleGroup" [rowIndex]="i" [groupItems]="groupItems" [roleGroupType]="roleGroupType" [disableActions]="1 === roleGroups.length" [formSubmitted]="formSubmitted" (removeRoleGroup)="removeGroup($event)"></pz-roles-group>
    </div>
</div>