<nav class="navbar navbar-light fixed-bottom bg-white px-3 py-2 pz-fixed-navbar shadow-sm-inverse">
  <div class="container-fluid p-0">
    <div class="row justify-content-end no-gutters w-100">
        <div class="col" *ngIf="buttons[0].showDeactivate">
            <button class="btn btn-link text-capitalize fs-14 font-weight-semi-bold"
            type="button" translate="COMMON.ACTIONS.DEACTIVATE_USER" (click)="btnClicked({action: 'deactivateUser'})"></button>
        </div>
        <div class="col-auto">
            <button class="btn" *ngFor="let button of buttons"
            type="{{button.isPrimary ? 'submit' : 'button'}}"
            [disabled]="button.disabled"
            [ngClass]="{'btn-pzprimary btn-md text-uppercase': button.type === 'button',
            'btn-link text-capitalize txt-gray-7 fs-14 font-weight-semi-bold': button.type === 'link'}"
            translate="{{button.text}}" (click)='btnClicked(button)'></button>
        </div>
    </div>
  </div>
</nav>