@import '../../../styles/variables';
@import '../../../styles/mixins';
.signin-card {
    width: 460px;
    .card-body {
        padding: 40px;
    }
    @include breakpoint(350, 480px) {
        width: 100%;
        min-width: 320px;
    }
    @include breakpoint(0, 320px) {
        width: 100%;
        min-width: 290px;
    }
    .form-control::placeholder {
        color: transparent;
    }
}