<div class="row align-items-center justify-content-center full-ht">
  <div class="col-auto">
    <div class="card shadow border-0 signin-card"> 
      <div class="card-body">
        <h3 class="txt-gray-7 font-weight-normal mb-4">Sign In</h3>
        <form (ngSubmit)="onSignin(signinForm)" #signinForm="ngForm">
          <div class="form-group floating-label-form-group mb-1">
            <input type="text" id="username" name="username" [(ngModel)]="signin.username" class="form-control" placeholder="User ID" #username="ngModel" required>
            <label for="username">Email Address</label>
          </div>
          <p class="text-danger fs-12 mb-2 font-italic" [ngClass]="{'visible': username.invalid && (username.dirty || username.touched), 'invisible': !(username.invalid && (username.dirty || username.touched))}" translate="COMMON.ERRORS.FIELD_REQ">
          </p>
          <div class="form-group floating-label-form-group mb-1">
            <input type="password" id="password" name="password" [(ngModel)]="signin.password" class="form-control" placeholder="Password" #password="ngModel" required>
            <label for="password">Password</label>
          </div>
          <p class="text-danger font-italic fs-12 mb-3" [ngClass]="{'visible': password.invalid && (password.dirty || password.touched), 'invisible': !(password.invalid && (password.dirty || password.touched))}" translate="COMMON.ERRORS.FIELD_REQ"></p>
          <!-- <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" id="rememberMe" class="custom-control-input" name="rememberMe" [(ngModel)]="doRemeber" #rememberMe="ngModel">
            <label class="custom-control-label" for="rememberMe">Remember me</label>
          </div> -->
          <button class="btn btn-pzprimary btn-sm pull-right" type="submit">{{'COMMON.ACTIONS.SIGNIN' | translate}}</button>
        </form>
      </div>
    </div>  
  </div>
</div>