<div class="content-scrollable" *ngIf="users">
    <div *ngFor="let appKey of applications | objNgFor">
        <h3 class="h3 font-weight-light txt-gray-7">{{'APP_TYPE.'+appKey | translate}}</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3" *ngFor="let app of applications[appKey]">
                <pz-application-card  [name]="app.displayName" label="Application"></pz-application-card>
            </div>
        </div>
    </div>
    <h3 class="h3 font-weight-light txt-gray-7 mt-4 mb-3" translate="COMMON.TITLE.USR_OVERVIEW"></h3>
    <div class="row">
        <div class="col-auto mb-3" *ngFor="let userType of users | objNgFor">
            <pz-user-type-card [type]="userType" [count]="users[userType]"></pz-user-type-card>
        </div>
    </div>
</div>
    

